/* 
Ardalan Shahverdi
Freelance Front-End Developer
ardalansh@outlook.com
https://github.com/ardalansh
https://www.instagram.com/ardalansh
*/


body {
  font-size: 16px;
  background-color: #708090;
}

.wrapper {
  display: -ms-flexbox !important;
  display: -webkit-box !important;
  display: flex !important;
  -ms-flex-direction: column !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
          flex-direction: column !important;
  -ms-flex-pack: center !important;
  -webkit-box-pack: center !important;
          justify-content: center !important;
  -ms-flex-align: center !important;
  -webkit-box-align: center !important;
          align-items: center !important;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Arial,sans-serif;
}

.header {
  margin: 3rem 0;
  color: #fff;
}

.footer {
  margin-top: 4rem;
  padding-top: 0.5rem;
  border-top: 1px solid #dedfde;
  color: #dedfde;
}

.footer__link {
  color: #fff;
  text-decoration: none;
}

.footer__link:hover {
  color: #FA8072;
}

.item {
  position: relative;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.item-container {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  cursor: pointer;
}

.item-container:hover .item,
.item-container.hover .item,
.item-container.flip .item {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.item-container, .item__front, .item__back {
  width: 360px;
  height: 480px;
}

.item__front, .item__back {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-box-shadow: 0 1px 15px 1px #323332;
  box-shadow: 0 1px 15px 1px #323332;
}

.item__front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.item__back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.item--title {
  display: -ms-flexbox !important;
  display: -webkit-box !important;
  display: flex !important;
  -ms-flex-direction: column !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
          flex-direction: column !important;
  -ms-flex-pack: center !important;
  -webkit-box-pack: center !important;
          justify-content: center !important;
  -ms-flex-align: center !important;
  -webkit-box-align: center !important;
          align-items: center !important;
  width: 100%;
  height: 100%;
  color: #323332;
  font-size: 1.25rem;
}